body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 2rem;
}

.modal p {
  text-align: center;
  margin: auto;
  color: red;
}

.container {
  width: 70%;
  margin: auto;
}

form {
  width: 100%;
  text-align: center;
}

form div {
  display: flex;
  justify-content: flex-end;
}

form label {
  width: 20%;
  text-align: right;
  padding: 0.5rem;
}

form input {
  width: 80%;
  height: 20px;
  border: 0.25px solid black;
  margin: 0.5rem 0 0 0.5rem;
}

form textarea {
  resize: none;
  width: 80%;
  height: 100px;
  border: 0.25px solid black;
  margin: 0.5rem 0 0 0.5rem;
}

form button {
  border: 0.25px solid black;
  border-radius: 10%;
  margin: 1rem auto;
  padding: 0.25rem 0.5rem;
}

.tasks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
}

.task {
  text-align: center;
  flex: 0 0 30%;
  border: 1px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
}

.task h2,
h4,
p {
  text-align: left;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5% 0 5%;
}

footer div {
  margin: 0.5rem;
}

.links {
  display: inline-block;
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
}

.edit-form {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  z-index: 1;
  background-color: lightgrey;
  border-color: black;
}

.edit-form span {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

/* sm 600px
md 768px
lg 1024px
xl 1280px */

@media (max-width: 1024px) {
  .container {
    text-align: center;
    width: 60%;
  }

  form {
    text-align: center;
    width: 100%;
  }

  form div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form label {
    padding-right: 0.5rem;
    width: auto;
    text-align: center;
  }

  form input {
    width: auto;
    height: 20px;
    border: 0.5px solid black;
  }

  form textarea {
    resize: none;
    border: 0.5px solid black;
    width: auto;
    height: 100px;
  }

  .task {
    text-align: center;
    flex: 0 0 45%;
    border: 1px solid black;
    margin: 0.2rem;
    padding: 0.2rem;
  }
}

@media (max-width: 600px) {
  form textarea {
    resize: none;
    border: 0.5px solid black;
    width: auto;
    height: 100px;
  }

  .task {
    text-align: center;
    flex: 0 0 100%;
    border: 1px solid black;
    margin: 0.2rem;
    padding: 0.2rem;
  }
}
